{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>


<body> 
    <ul class="nav justify-content-end">
        <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
       <a class="nav-link" href="/register/">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
        </li>
    </ul>

    <div class="container">
        <h2>Hello</h2>
        <h4>Do it Never Give up</h4>
    </div>


</body>
</html>